//<ПЕРЕМЕННЫЕ>===========================================================================================================
//-----------ОСНОВНЫЕ ЦВЕТА------------------
$color_1: #FFFFFF;
$color_2: #333;
$color_3: #DF0303;
$color_4: rgba(229, 57, 53, 0.3);
$color_5: #90A4AE;
$color_6: #37474F;

$link-img: '';


$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1150;
$md1: $maxWidthContainer + 20;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

body {
  @include adaptiv-font(16, 14);
  font-weight: 500;
  color: #222222;
  letter-spacing: 0.09em;
  line-height: 1.5;

  &._lock {
    overflow: hidden;
  }
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &._loaded {
  }
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  @media (max-width: $md1+px) {
    max-width: 970px;

  }
  @media (max-width: $md2+px) {
    max-width: 750px;
    padding: 0 20px;
  }
  @media (max-width: $md3+px) {
    max-width: none;
    padding: 0 20px;
  }
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
.title {
  font-size: 50px;
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
}

//-----------Кнопка основная------------------

.button {
  background: $color_3;
  color: $color_1;
  padding: 0 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  cursor: pointer;
  transition: .5s;
  width: fit-content;
  font-size: 22px;
  font-weight: 600;
  border: 1px solid $color_3;
  border-radius: 10px;

  &:hover {

  }
}
.button-in-basket{
  background: $color_3;
  color: $color_1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  cursor: pointer;
  transition: .5s;
  padding: 0 15px;
  font-size: 22px;
  font-weight: 600;
  border: 1px solid $color_3;
  width: fit-content;
  border-radius: 10px;
  svg{
    margin-right: 10px;
  }
}

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "null";

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
  flex: 1 1 auto;
  padding-top: 60px;
  @include mq('desktop') {
    padding-top: 140px;
  }

  &.main {
    padding-top: 0 !important;
  }
}

//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================



