.popup.popup_popup.enter
    .popup__body
        .popup__content.enter-content
            a.popup__close.close-popup
                img(src="img/icons/exit.svg")
            form.modal-form
                .modal-form__title Войти
                .modal-form__register Зарегестрироваться
                .modal-form__soc
                    a(href="vk")
                        img(src='img/icons/soc/vk.svg' alt='vk')
                    a(href="vk")
                        img(src='img/icons/soc/g+.svg' alt='g+')
                    a(href="vk")
                        img(src='img/icons/soc/fasebook.svg' alt='fasebook')
                    a(href="vk")
                        img(src='img/icons/soc/email.svg' alt='email')
                    a(href="vk")
                        img(src='img/icons/soc/telegr.svg' alt='telegr')
                .modal-form__inputs
                    input.modal-form__input(placeholder='Логин')
                    input.modal-form__input(placeholder='Пароль')


                .modal-form__btn.button Отправить


.popup.popup_popup1.basket
    .popup__body
        .popup__content.basket-content
            a.popup__close.close-popup
                img(src="img/icons/exit.svg")
            form.modal-form
                .modal-form__good.modal-form-good
                    a.modal-form-good__delete(href="#")
                        img(src="img/icons/exit.svg")
                    .modal-form-good__img
                        img(src='img/cat1.png' alt='')
                    .modal-form-good__name Вытяжка Macbi
                    .modal-form-good__prices
                        .modal-form-good__price-for-one 19 999 р.
                        .modal-form-good__price-all 19 999 р. x 2
                    .modal-form-good__price-total 33 998 р.
                .modal-form__good.modal-form-good
                    a.modal-form-good__delete(href="#")
                        img(src="img/icons/exit.svg")
                    .modal-form-good__img
                        img(src='img/cat1.png' alt='')
                    .modal-form-good__name Вытяжка Macbi
                    .modal-form-good__prices
                        .modal-form-good__price-for-one 19 999 р.
                        .modal-form-good__price-all 19 999 р. x 2
                    .modal-form-good__price-total 33 998 р.
                .modal-form__good.modal-form-good
                    a.modal-form-good__delete(href="#")
                        img(src="img/icons/exit.svg")
                    .modal-form-good__img
                        img(src='img/cat1.png' alt='')
                    .modal-form-good__name Вытяжка Macbi
                    .modal-form-good__prices
                        .modal-form-good__price-for-one 19 999 р.
                        .modal-form-good__price-all 19 999 р. x 2
                    .modal-form-good__price-total 33 998 р.
                .modal-form__good.modal-form-good
                    a.modal-form-good__delete(href="#")
                        img(src="img/icons/exit.svg")
                    .modal-form-good__img
                        img(src='img/cat1.png' alt='')
                    .modal-form-good__name Вытяжка Macbi
                    .modal-form-good__prices
                        .modal-form-good__price-for-one 19 999 р.
                        .modal-form-good__price-all 19 999 р. x 2
                    .modal-form-good__price-total 33 998 р.

                .modal-form__total 33 998 р.

                .modal-form__btn.button Перейти в корзину




























.popup.popup_massagename-message
    .popup__content
        .popup__body
            .popup__close


.popup.popup_video
    .popup__content
        .popup__body
            .popup__close.popup__close_video
            .popup__video._video


