section.sec-first-screen.first-screen
    .first-screen-slider._swiper
        .first-screen-slider__slide(style="background-image: url(img/FS1.png);")
            ._container
                .first-screen-slider__slide-content
                    ul
                        li Надежно
                        li Качественно
                        li Доступно
                    h1 Лучшая кухонная техника
                    p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору
                    .button.first-screen__btn Подробнее

                    .first-screen-slider__nav.first-screen-slider-nav
                        .first-screen-slider-nav__pagination
                        .first-screen-slider-nav__prev
                            img(src='img/icons/FS-arrow-l.svg' alt='стрелка на лево')
                        .first-screen-slider-nav__next
                            img(src='img/icons/FS-arrow-r.svg' alt='стрелка направо')
        .first-screen-slider__slide(style="background-image: url(img/FS1.png);")
            ._container
                .first-screen-slider__slide-content
                    h1 Лучшая кухонная техника
                    p Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору
                    .button.first-screen__btn Подробнее

                    .first-screen-slider__nav.first-screen-slider-nav
                        .first-screen-slider-nav__pagination
                        .first-screen-slider-nav__prev
                            img(src='img/icons/FS-arrow-l.svg' alt='стрелка на лево')
                        .first-screen-slider-nav__next
                            img(src='img/icons/FS-arrow-r.svg' alt='стрелка направо')

